<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="/assets/angularControllers.js"></script>
</head>

<body>

<% include navbar.ejs %>

<main class="mdl-layout__content">
<div class="page-content">
<div ng-app="product-details" ng-controller="homeController">
<div class ="row">
  <div class="col-sm-4" ng-repeat="product in products">
    <div>
    <img src='{{product.img}}'/>
    <p>{{product.product}}</p>
    </div>

  </div>

</div>
</div>

</div>


</div>
</main>

</body>
